.SideBar
  .LeftHeader
    .HeaderItems
      .HeaderItems__userName
        naohiro
      .HeaderItems__iconList
        = link_to "#", class: "HeaderItems__iconList--icon" do
          = icon('fas', 'edit')
        = link_to "#", class: "HeaderItems__iconList--icon" do
          = icon('fas', 'cog')
  .GroupList
    .Group
      .Group__name
        sample
      .Group__message
        hello!!
    .Group
      .Group__name
        sample
      .Group__message
        hello!!
    .Group
      .Group__name
        sample
      .Group__message
        hello!!